@model IEnumerable<SD85_WebBookOnline.Share.Models.Manufacturer>

@{
    ViewData["Title"] = "AllManufacturerManager";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Danh Sách Nhà Sản Xuất</h1>

<p>
    <a asp-action="CreateManufacturer" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tb_Manu">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
     int i = 1;
        <tr>
               
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            </tr>
            i++;
        }
    </tbody>
</table>
@*Link datatable*@
<link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />


<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        // Khởi tạo DataTable
        var dataTable = $('#tb_Manu').DataTable();
    });
</script>