@model IEnumerable<SD85_WebBookOnline.Share.Models.Voucher>

@{
    ViewData["Title"] = "AllVoucherManager";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h1>AllVoucherManager</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateByID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletByID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateByID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletByID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
             <td>
                    <a asp-area="Admin" asp-controller="VoucherAdmin" asp-action="UpdateVoucher" asp-route-id="@item.VoucherID" class="btn btn-info">Sửa</a>
                    <a asp-area="Admin" asp-controller="VoucherAdmin" asp-action="VoucherDetail" asp-route-id="@item.VoucherID" class="btn btn-warning">Xem CT</a>
                    <a asp-area="Admin" asp-controller="VoucherAdmin" asp-action="DeleteVoucher" asp-route-id="@item.VoucherID" class="btn btn-danger">Xóa</a>
             </td>
        </tr>
}
    </tbody>
</table>
