    @using SD85_WebBookOnline.Share.Models

@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Book> lsttopBookTime = ViewBag.lstSelectNew as IEnumerable<Book>;
    IEnumerable<Book> lsttopBookTopQuantitySold = ViewBag.lstTopquantitySold as IEnumerable<Book>;

    IEnumerable<Combo> listCombo = ViewBag.listCombo as IEnumerable<Combo>;

}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Thêm thư viện Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>

<script src="~/js/chart.js">
   
</script>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@using Newtonsoft.Json
@using SD85_WebBookOnline.Share.Models


@if (User.IsInRole("Admin"))
{
    <div class="details">
        <div class="recentOrder">
            <div class="cardHeader">
               
              <h2>Biểu đồ doanh thu</h2>
            </div>

          <div style="margin: auto;" class="container">
    <div class="row">
        <div class="col-md-4"><label for="yearSelector">Chọn năm:</label>
            <select id="yearSelector" class="form-control">
                  
                @for (int year = DateTime.Now.Year; year >= 2020; year--)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <label for="monthSelector">Chọn tháng:</label>
            <select id="monthSelector" class="form-control">
              
                @for (int month = 1; month <= 12; month++)
                {
                    <option value="@month">@month</option>
                }
            </select>
        </div>
    </div>
    

    

    <canvas id="myBarChart" width="400" height="150"></canvas>
</div>

        </div>
        <!--Danh sách nhân viên-->
        <div class="recentEmpolyees">
            <div class="cardHeader">
                <h2>Danh Sách Nhân viên</h2>
            </div>
            <table>
                <tr>
                    <td with="60px"><div class="imgBx"><img src="1.jpg" alt=""></div></td>
                    <td><h4>Quang Dũng<br><span>0357412589</span></h4></td>
                </tr>
                <tr>
                    <td with="60px"><div class="imgBx"><img src="2.jpg" alt=""></div></td>
                    <td><h4>Đình Hưng<br><span>0123456789</span></h4></td>
                </tr>
                <tr>
                    <td with="60px"><div class="imgBx"><img src="3.jpg" alt=""></div></td>
                    <td><h4>Tuấn Đạt<br><span>0987654321</span></h4></td>
                </tr>
                <tr>
                    <td with="60px"><div class="imgBx"><img src="4.jpg" alt=""></div></td>
                    <td><h4>Khắc Toàn<br><span>0157698322</span></h4></td>
                </tr>
                <tr>
                    <td with="60px"><div class="imgBx"><img src="5.jpg" alt=""></div></td>
                    <td><h4>Ngọc Huy<br><span>0357412589</span></h4></td>
                </tr>
            </table>
        </div>
    </div>
}
else if (User.IsInRole("User"))
{
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a asp-action="Index" asp-controller="Home" class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse"  style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        @{
                            var lstCTPValue = context.HttpContext.Request.Cookies["lstCateParent"];
                            if (lstCTPValue == null)
                            {
                                <h1>Null Form rồi</h1>
                            }
                            IEnumerable<CategoryParent> lstCTP = JsonConvert.DeserializeObject<IEnumerable<CategoryParent>>(lstCTPValue);
                            if (lstCTP != null)
                            {
                                foreach (var item in lstCTP)
                                {
                                    <a asp-action="FilterByForm" asp-controller="Shop" class="nav-item nav-link" asp-route-id="@item.CategoryParentID">
                                        @item.CategoryParentName
                                    </a>
                                }

                            }
                        }
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a asp-action="Index" asp-controller="Home" class="text-decoration-none d-block d-lg-none">

                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Trang Chủ</a>
                            <a asp-action="All_Pro" asp-controller="Shop" asp-area="Customer" class="nav-item nav-link">Shop</a>
                            <a asp-action="MyCart" asp-controller="Cart" asp-area="Customer" class="nav-item nav-link">Giỏ Hàng</a>
                            <a asp-action="DSVoucher" asp-controller="Voucher" asp-area="Customer" class="nav-item nav-link">Chương Trình Khuyến Mãi</a>

                        </div>

                    </div>
                </nav>
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner1.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                    <a asp-action="All" asp-controller="Shop" asp-area="Customer" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner2.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-action="All" asp-controller="Shop" asp-area="Customer" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner3.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-action="All" asp-controller="Shop" asp-area="Customer" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner4.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-action="All" asp-controller="Shop" asp-area="Customer" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            @foreach (var item in lsttopBookTime)
            {
                <a asp-action="deTail" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.BookID">
                    <div class="col-lg-4 col-md-6 pb-1">
                        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;background-color: rgb(171, 201, 231);border-radius: 15%;">
                            <p class="text-right">@item.QuantityExists Products</p>
                            <a href="" class="cat-img position-relative overflow-hidden mb-3">
                                <img class="img-fluid" src="~/photoBooks/@item.MainPhoto" alt="" style="height : 383px; width : 383px; object-fit:cover">
                            </a>
                            <h5 class="font-weight-semi-bold m-0">@item.BookName</h5>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="~/img/ombo sach 3.jpg" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">Sản Phẩm Hót</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Sản Phẩm Bán Chạy</h1>
                        <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="~/img/Combo Sách 2.jpg" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">Sản Phẩm Hót</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Sản Phẩm Mới Nhất</h1>
                        <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Hot</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach (var item in lsttopBookTopQuantitySold)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/photoBooks/@item.MainPhoto" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h4 class="text-truncate mb-3">@item.BookName</h4>
                            <div class="d-flex justify-content-center">
                                <h6 id="price-text">@item.Price</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-action="deTail" asp-area="Customer" asp-controller="Cart" asp-route-id="@item.BookID" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a asp-action="AddToCart" asp-area="Customer" asp-controller="Cart" asp-route-id="@item.BookID" asp-route-quantity="1" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Combo Hot</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach (var item in listCombo)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/images/@item.Image" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h4 class="text-truncate mb-3">@item.ComboName</h4>
                            <div class="d-flex justify-content-center">
                                <h6>@item.Price</h6><h6 class="text-muted ml-2"><del>@item.Price</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-action="Detail_cb" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.ComboID" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a asp-action="AddToCart" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.ComboID" asp-route-quantity="1" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Combo mới</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach (var item in listCombo)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/images/@item.Image" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h4 class="text-truncate mb-3">@item.ComboName</h4>
                            <div class="d-flex justify-content-center">
                                <h6 id="price-text">@item.Price</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-action="Detail_cb" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.ComboID" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a asp-action="deTailCombo" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.ComboID" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        // Lấy tất cả các thẻ h6 trong trang
        var h6Elements = document.querySelectorAll('#price-text');

        // Duyệt qua từng phần tử h6 và thực hiện thay đổi giá trị
        h6Elements.forEach(function (h6Element) {
            // Lấy giá trị từ phần tử
            var amount = parseFloat(h6Element.innerText);

            // Chuyển đổi giá trị thành định dạng tiền tệ và gán lại vào phần tử
            var formatted_amount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
            h6Element.innerText = formatted_amount;

            // Hiển thị kết quả trong console
            console.log(formatted_amount);
        });
    </script>
    <style>
        #price-text {
            color: orangered;
        }
    </style>
}
else
{
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a asp-action="Index" asp-controller="Home" class="text-decoration-none d-block d-lg-none">

                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Trang Chủ</a>
                            <a asp-action="All" asp-controller="Shop" class="nav-item nav-link">Shop</a>
                            <a asp-action="MyCart" asp-controller="Home" class="nav-item nav-link">Giỏ Hàng</a>
                            <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Chương Trình Khuyến Mãi</a>
                        </div>

                    </div>
                </nav>
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner1.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner2.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner3.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/tieubanner4.png" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
        @foreach(var item in lsttopBookTime)
        {
            <a asp-action="deTail" asp-controller="Home" asp-route-id="@item.BookID">
                    <div class="col-lg-4 col-md-6 pb-1">
                        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;background-color: rgb(171, 201, 231);border-radius: 15%;">
                            <p class="text-right">@item.QuantityExists Products</p>
                            <a asp-action="deTail" asp-controller="Home" asp-route-id="@item.BookID" class="cat-img position-relative overflow-hidden mb-3">
                                <img class="img-fluid" src="~/photoBooks/@item.MainPhoto" alt="" style="height : 383px; width : 383px; object-fit:cover" >
                            </a>
                            <h5 class="font-weight-semi-bold m-0">@item.BookName</h5>
                        </div>
                    </div>
            </a>
        }
        </div>
    </div>
    
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="~/img/ombo sach 3.jpg" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">Sản Phẩm Hót</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Sản Phẩm Bán Chạy</h1>
                        <a asp-action="All" asp-asp-controller="Shop" class="btn btn-outline-primary py-md-2 px-md-3">Mua Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="~/img/Combo Sách 2.jpg" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">Sản Phẩm Hót</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Sản Phẩm Mới Nhất</h1>
                        <a asp-action="All" asp-asp-controller="Shop" class="btn btn-outline-primary py-md-2 px-md-3">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Sản Phẩm Mới</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach( var item in lsttopBookTopQuantitySold)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/photoBooks/@item.MainPhoto" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h4 class="text-truncate mb-3">@item.BookName</h4>
                            <div class="d-flex justify-content-center">
                                <h6 id="price-text">@item.Price</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-action="deTail" asp-controller="Home" asp-route-id="@item.BookID" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a asp-action="AddToCart" asp-controller="Home" asp-route-id="@item.BookID" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Combo Mới</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach (var item in listCombo)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/images/@item.Image" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h4 class="text-truncate mb-3">@item.ComboName</h4>
                            <div class="d-flex justify-content-center">
                                <h6 id="price-text">@item.Price</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-action="Detail_cb" asp-controller="Home" asp-route-id="@item.ComboID" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a asp-action="AddToCart" asp-controller="Home" asp-route-id="@item.ComboID" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        // Lấy tất cả các thẻ h6 trong trang
        var h6Elements = document.querySelectorAll('#price-text');

        // Duyệt qua từng phần tử h6 và thực hiện thay đổi giá trị
        h6Elements.forEach(function (h6Element) {
            // Lấy giá trị từ phần tử
            var amount = parseFloat(h6Element.innerText);

            // Chuyển đổi giá trị thành định dạng tiền tệ và gán lại vào phần tử
            var formatted_amount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
            h6Element.innerText = formatted_amount;

            // Hiển thị kết quả trong console
            console.log(formatted_amount);
        });
    </script>
   <style>
        #price-text {
           color : orangered;
       }
   </style>
}


