@model IEnumerable<SD85_WebBookOnline.Share.Models.Form>

@{
    ViewData["Title"] = "AllFormManager";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Các Hình Thức Sách</h1>

<p>
    <a asp-action="CreateForm" asp-controller="FormManager" asp-area="Admin" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tb_form">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            int i = 1;
            <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <a asp-action="UpdateForm" asp-route-id="@item.FormId" class="btn status delivered">Update</a>
                    <a asp-action="FormDetail" asp-route-id="@item.FormId" class="btn status tamkhoa"> Details</a>
            </td>
            </tr>
            i++;
        }
    </tbody>
</table>
@*Link datatable*@
<link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />


<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        // Khởi tạo DataTable
        var dataTable = $('#tb_form').DataTable();
    });
</script>