@model IEnumerable<SD85_WebBookOnline.Share.Models.Book>

@{
    ViewData["Title"] = "AllBookManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllBookManager</h1>


<div class="details" style="width : 100%">
    <div class="recentOrder">
        <div class="cardHeader">
            <h2>Danh Sách Book</h2>
            <p>
                <a asp-action="CreateBook" asp-controller="BookManager" asp-area="Admin" class=" btn status primary">Create New</a>
            </p>
        </div>
        <table class="table">
            <thead>
                <tr>

                    <th style="text-align : center;">
                        Tên Sách
                    </th>

                    <th style="text-align : center;">
                        Ảnh đại diện
                    </th>
                    <th style="text-align : center;">
                        Tổng số lượng
                    </th>
                    <th style="text-align : center;">
                        Giá đầu vào
                    </th>
                    <th style="text-align : center;">
                        Giá bán
                    </th>
                    <th style="text-align : center;">
                        Mô tả
                    </th>
                    <th style="text-align : center;">
                        Mã định danh
                    </th>
                    <th style="text-align : center;">
                        Năm phát hành
                    </th>
                    <th style="text-align : center;">
                        trạng thái sách
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td style="text-align: center;">
                            <img src="~/photos/@item?.MainPhoto" alt="Combo Image" width="100" height="100" />
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.TotalQuantity)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.EntryPrice)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.YearOfRelease)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            <a asp-action="UpdateBook" asp-route-id="@item.BookID" class="btn status delivered">Update</a>
                            <a asp-action="BookDetail" asp-route-id="@item.BookID" class="btn status tamkhoa"> Details</a>
                            <form asp-action="DeleteBook" asp-route-id="@item?.BookID" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Danh sách nhân viên-->
</div>
