@model SD85_WebBookOnline.Share.Models.Book

@{
    ViewData["Title"] = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BookDetail</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span style="font-weight: bold;">BookID : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookID)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">ManufacturerID : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerID)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">FormID : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormID)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">CouponID : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouponID)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">BookName : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">TotalQuantity : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">MainPhoto : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainPhoto)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">QuantitySold : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantitySold)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">QuantityExists : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityExists)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">EntryPrice : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryPrice)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">Price : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">Information : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Information)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">Description : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">ISBN : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">YearOfRelease : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOfRelease)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">CreateDate : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">DeleteDate : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeleteDate)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">Weight : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">Volume : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">TransactionStatus : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionStatus)
        </dd>
        <dt class="col-sm-2">
            <span style="font-weight: bold;">Status : </span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
