<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <title>@ViewData["Title"] - SD85_WebBookOnline.Client</title>
</head>
<body>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
    @{
        var cookievalue = context.HttpContext.Request.Cookies["QuantityPro"];
        var valueCookieTotalQTT = context.HttpContext.Request.Cookies["ToTalQuantityPro"];
        var valuecookieTotalUser = context.HttpContext.Request.Cookies["ToTalQuantityUser"];
        var valuecookieDoanhthu = context.HttpContext.Request.Cookies["ToTalDanhThu"];
        var valuecookieqttSold = context.HttpContext.Request.Cookies["totalQuantitySold"];
    }
    @if (!User.Identity.IsAuthenticated)
    {
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <!-- Customized Bootstrap Stylesheet -->
        <link href="~/css/style.css" rel="stylesheet">
        
        <header>
            <div class="container-fluid">
                <div class="row bg-secondary py-2 px-xl-5">
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="d-inline-flex align-items-center">
                            <a class="text-dark" asp-action="Index" asp-controller="Home">FAQs</a>
                            <span class="text-muted px-2">|</span>
                            <a class="text-dark" asp-action="Index" asp-controller="Home">Help</a>
                            <span class="text-muted px-2">|</span>
                            <a class="text-dark" asp-action="Index" asp-controller="Home">Support</a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <div class="d-inline-flex align-items-center">
                            <a asp-area="" asp-controller="Home" asp-action="Login" class="nav-item nav-link item-nav">Login</a>
                            <a asp-area="" asp-controller="Home" asp-action="Register" class="nav-item nav-link item-nav">Register</a>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center py-3 px-xl-5">
                    <div class="col-lg-3 d-none d-lg-block">
                        <a asp-action="Index" asp-controller="Home" class="text-decoration-none">
                            <a asp-action="Index" asp-controller="Home" class="text-decoration-none">
                                <a asp-action="Index" asp-controller="Home"><img class="logo" src="~/img/fptBookLogo.png" style="width: 50%;"></a>
                            </a>
                        </a>
                    </div>
                    <div class="col-lg-6 col-6 text-left">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for products">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-6 text-right">
                        <a asp-action="Index" asp-controller="Home" class="btn border">
                            <i class="fas fa-heart text-primary"></i>
                            <span class="badge">0</span>
                        </a>
                        <a asp-action="Index" asp-controller="Home" class="btn border">
                            <i class="fas fa-shopping-cart text-primary"></i>
                            <span class="badge">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Topbar End -->
        
        <!-- Featured End -->
        <div class="container-fluid pt-5">
            @RenderBody()
        </div>
        <!-- Categories Start -->
            
        <div class="container-fluid py-5">
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel vendor-carousel">
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-1.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-2.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-3.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-4.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-5.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-6.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-7.jpg" alt="">
                        </div>
                        <div class="vendor-item border p-4">
                            <img src="~/img/vendor-8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor End -->
        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a asp-action="Index" asp-controller="Home" class="text-decoration-none">
                        <a href="#"><img class="logo" src="~/img/fptBookLogo.png" style="width: 50%;"></a>
                    </a>
                    <p>Hãy để tâm hồn của bạn được thư thái trong nhưng cuốn sách của chúng tôi.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>394 Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>hiepdepzai2k3@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+0339 414 711</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" asp-action="All" asp-controller="Shop"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" asp-action="MyCart" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" asp-action="All" asp-controller="Shop"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" asp-action="MyCart" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                            required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-dark">
                        &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                        by
                        <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="~/img/payments.png" alt="">
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        
       
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="~/mail/jqBootstrapValidation.min.js"></script>
        <script src="~/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="~/js/main.js"></script>
    }
    else
    {
        @if (User.IsInRole("Admin"))
        {
            <!-- Google Web Fonts -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
            <!-- Libraries Stylesheet -->
            <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
            <!-- Customized Bootstrap Stylesheet -->
            <link href="~/css/style.css" rel="stylesheet">
            <link href="~/css/styles.css" rel="stylesheet" type="text/css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <div class="containers">
                <div class="navigation">
                    <ul>
                        <li>
                            <a asp-action="Index" asp-controller="Home" asp-area="">
                                <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
                                <span class="title">Admin Manager</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllBookManager" asp-controller="BookManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="laptop"></ion-icon></span>
                                <span class="title">Book Manager</span>
                            </a>
                        </li> 
                        <li>
                            <a asp-action="AllInput" asp-controller="InputSlipManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="laptop"></ion-icon></span>
                                <span class="title">Phiếu nhập</span>
                            </a>
                        </li> 
                        <li>
                            <a asp-action="Index" asp-controller="ThongKeManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="laptop"></ion-icon></span>
                                <span class="title">Thống kê</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="UserManager" asp-action="GetAllUser">
                                <span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
                                <span class="title">User</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="UserManager" asp-action="GetAllEmployee">
                                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                                <span class="title">Employee</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllManufacturerManager" asp-controller="ManufacturerManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                                <span class="title">Nhà Sản Xuất</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllVoucherManager" asp-controller="VoucherManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="film-outline"></ion-icon></span>
                                <span class="title">Voucher</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllComboManager" asp-controller="ComboManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                                <span class="title">Combo</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllFormManager" asp-controller="FormManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                                <span class="title">Form</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllLanguageManager" asp-controller="LanguageManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="language-outline"></ion-icon></span>
                                <span class="title">Ngôn Ngữ</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllImages" asp-controller="ImagesManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="image-outline"></ion-icon></span>
                                <span class="title">Images</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="GetAllBill_admin" asp-controller="BillManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                                <span class="title">BillManager</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllInput" asp-controller="InputSlipManager" asp-area="Admin">
                                <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                                <span class="title">Phiếu nhập</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Logout" asp-controller="Home" asp-area="">
                                <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                                <span class="title">LogOut</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main">
                    <div class="topbar">
                        <div class="toggle">
                            <ion-icon name="menu"></ion-icon>
                        </div>
                        <!--Search-->
                        @* <div class="search">
                            <label>
                                <input type="text" placeholder="Nhập tên sản phẩm">
                                <ion-icon name="search"></ion-icon>
                            </label>
                        </div> *@
                        <!--User Img-->
                        <div class="user">
                            <a asp-controller="Home" asp-action="Logout" asp-area=""><img src="~/img/user-128.png"></a>
                        </div>
                    </div>
                    <!--Cards-->
                    <div class="cardBox">
                        <a asp-area="Admin" asp-controller="UserManager" asp-action="GetAllUser" style="text-decoration:none">
                            <div class="card">
                                <div>
                                    <div class="number">@valuecookieTotalUser</div>
                                    <div class="cardName">Tổng số Tài Khoản</div>
                                </div>
                                <div class="iconBx">
                                    <ion-icon name="accessibility-outline"></ion-icon>
                                </div>
                            </div>
                        </a>
                        <a asp-action="AllBookManager" asp-controller="BookManager" asp-area="Admin" style="text-decoration:none">
                            <div class="card">
                                <div>
                                    <div class="number">@valueCookieTotalQTT</div>
                                    <div class="cardName">Tổng số Sản Phẩm</div>
                                </div>
                                <div class="iconBx">
                                    <ion-icon name="laptop-outline"></ion-icon>
                                </div>
                            </div>
                       </a>
                        <a asp-action="AllBookManager" asp-controller="BookManager" asp-area="Admin" style="text-decoration:none">
                            <div class="card">
                            <div>
                                <div class="number">@valuecookieqttSold</div>
                                <div class="cardName">Số Sản Phẩm đã Bán</div>
                            </div>
                            <div class="iconBx">
                                <ion-icon name="cart-outline"></ion-icon>
                            </div>
                        </div>
                        </a>
                        <a asp-action="Index" asp-controller="ThongKeManager" asp-area="Admin" style="text-decoration:none">
                            <div class="card">
                                <div>
                                    <div class="number">@valuecookieDoanhthu</div>
                                    <div class="cardName">Tổng Doanh Thu</div>
                                </div>
                                <div class="iconBx">
                                    <ion-icon name="id-card-outline"></ion-icon>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            <script>
                //Menu toggle
                let toggle = document.querySelector('.toggle');
                let navigation = document.querySelector('.navigation');
                let main = document.querySelector('.main');

                toggle.onclick = function () {
                    navigation.classList.toggle('active');
                    main.classList.toggle('active');

                }
                // add hovered class
                let list = document.querySelectorAll('.navigation li');
                function activeLink() {
                    list.forEach((item) =>
                        item.classList.remove('hovered'));
                    this.classList.add('hovered');
                }
                list.forEach((item) =>
                    item.addEventListener('mouseover', activeLink));
            </script>
        }
        else if (User.IsInRole("Employee"))
        {
            <!-- Google Web Fonts -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
            <!-- Libraries Stylesheet -->
            <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
            <!-- Customized Bootstrap Stylesheet -->
            <link href="~/css/style.css" rel="stylesheet">
            <link href="~/css/styles.css" rel="stylesheet" type="text/css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <div class="containers">
                <div class="navigation">
                    <ul>
                        <li>
                            <a href="">
                                <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
                                <span class="title">Employee</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllBookEmployee" asp-controller="BookEmployee" asp-area="Employee">
                                <span class="icon"><ion-icon name="laptop"></ion-icon></span>
                                <span class="title">Book Manager</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="AllInputElp" asp-controller="InputSlipEmployee" asp-area="Employee">
                                <span class="icon"><ion-icon name="image-outline"></ion-icon></span>
                                <span class="title">Phiếu nhập</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="AllComboEpl" asp-controller="ComboEmployee" asp-area="Employee">
                                <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                                <span class="title">Combo</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="GetAllBill_epl" asp-controller="BillEmployee" asp-area="Employee">
                                <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                                <span class="title">Bill</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="GetAllUserEpl" asp-controller="UserEpl" asp-area="Employee">
                                <span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
                                <span class="title">User</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Logout" asp-controller="Home" asp-area="">
                                <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                                <span class="title">LogOut</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main">
                    <div class="topbar">
                        <div class="toggle">
                            <ion-icon name="menu"></ion-icon>
                        </div>
                        <!--Search-->
                        <div class="search">
                            <label>
                                <input type="text" placeholder="Nhập tên sản phẩm">
                                <ion-icon name="search"></ion-icon>
                            </label>
                        </div>
                        <!--User Img-->
                        <div class="user">
                            <a asp-controller="Home" asp-action="Logout" asp-area=""><img src="~/user.jpg"></a>
                        </div>
                    </div>
                    <!--Cards-->
                    <div class="cardBox">
                        <div class="card">
                            <div>
                                <div class="number">999</div>
                                <div class="cardName">Tổng số Tài Khoản</div>
                            </div>
                            <div class="iconBx">
                                <ion-icon name="accessibility-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div class="number">7532</div>
                                <div class="cardName">Tổng số Sản Phẩm</div>
                            </div>
                            <div class="iconBx">
                                <ion-icon name="laptop-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div class="number">2023</div>
                                <div class="cardName">Số Sản Phẩm đã Bán</div>
                            </div>
                            <div class="iconBx">
                                <ion-icon name="cart-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div class="number">1012</div>
                                <div class="cardName">Tổng Số Hóa Đơn</div>
                            </div>
                            <div class="iconBx">
                                <ion-icon name="id-card-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div>
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            <script>
                //Menu toggle
                let toggle = document.querySelector('.toggle');
                let navigation = document.querySelector('.navigation');
                let main = document.querySelector('.main');

                toggle.onclick = function () {
                    navigation.classList.toggle('active');
                    main.classList.toggle('active');

                }
                // add hovered class
                let list = document.querySelectorAll('.navigation li');
                function activeLink() {
                    list.forEach((item) =>
                        item.classList.remove('hovered'));
                    this.classList.add('hovered');
                }
                list.forEach((item) =>
                    item.addEventListener('mouseover', activeLink));
            </script>
        }
        else if (User.IsInRole("User"))
        {
           
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
            <!-- Libraries Stylesheet -->
            <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
            <!-- Customized Bootstrap Stylesheet -->
            <link href="~/css/style.css" rel="stylesheet">
            <header>
                <div class="container-fluid">
                    <div class="row bg-secondary py-2 px-xl-5">
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="d-inline-flex align-items-center">
                                <a class="text-dark" href="">FAQs</a>
                                <span class="text-muted px-2">|</span>
                                <a class="text-dark" href="">Help</a>
                                <span class="text-muted px-2">|</span>
                                <a class="text-dark" href="">Support</a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-right">
                            <div class="d-inline-flex align-items-center">
                                <a asp-area="Customer" asp-controller="User" asp-action="Account"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfHKr4J28Bd2GLN_c-P4FtX99NIFVS6rTurA&usqp=CAU" class="rounded-circle" style="width : 50px; height:50px;object-fit: cover" alt="Error Image" /></a>
                                <a asp-area="" asp-controller="Home" asp-action="Logout" class="nav-item nav-link item-nav">Logout</a>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center py-3 px-xl-5">
                        <div class="col-lg-3 d-none d-lg-block">
                            <a href="" class="text-decoration-none">
                                <a href="" class="text-decoration-none">
                                    <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/fptBookLogo.png" style="width: 50%;"></a>
                                </a>
                        </div>
                        <div class="col-lg-6 col-6 text-left">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for products">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-6 text-right">
                            <a href="" class="btn border">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge">0</span>
                            </a>
                            <a asp-action="MyCart" asp-controller="Cart" asp-area="Customer" class="btn border">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                @if (cookievalue != null)
                                {
                                    <span class="badge">@cookievalue</span>
                                }
                                else
                                {
                                    <span class="badge">0</span>
                                }
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Topbar End -->
            @* <!-- Navbar Start -->
            <div class="container-fluid mb-5">
                <div class="row border-top px-xl-5">
                    <div class="col-lg-3 d-none d-lg-block">
                        <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                            <h6 class="m-0">Categories</h6>
                            <i class="fa fa-angle-down text-dark"></i>
                        </a>
                        <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                            <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link" data-toggle="dropdown">Sách Học Cấp<i class="fa fa-angle-down float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                        <a href="" class="dropdown-item">Sách Cấp 1</a>
                                        <a href="" class="dropdown-item">Sách Cấp 2</a>
                                        <a href="" class="dropdown-item">Sách Cấp 3</a>
                                    </div>
                                </div>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Truyện Tranh Nhật Bản</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Truyện Cổ Tích</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Truyện Kinh Dị</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Truyện Cười</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Sách Tiểu Thuyết</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Sách Thiếu Nhi</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Sách Kinh Tế</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Sách Văn Học Kinh Điển</a>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Đồ Dùng Học Tập</a>
                            </div>
                        </nav>
                    </div>
                    <div class="col-lg-9">
                        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                            <a asp-action="Index" asp-controller="Home" class="text-decoration-none d-block d-lg-none">

                            </a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto py-0">
                                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Trang Chủ</a>
                                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Shop</a>
                                    <a asp-action="MyCart" asp-controller="Cart" asp-area="Customer" class="nav-item nav-link">Giỏ Hàng</a>
                                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Chương Trình Khuyến Mãi</a>
                                </div>

                            </div>
                        </nav>
                        <div id="header-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" style="height: 410px;">
                                    <img class="img-fluid" src="~/img/tieubanner1.png" alt="Image">
                                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 410px;">
                                    <img class="img-fluid" src="~/img/tieubanner2.png" alt="Image">
                                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 410px;">
                                    <img class="img-fluid" src="~/img/tieubanner3.png" alt="Image">
                                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 410px;">
                                    <img class="img-fluid" src="~/img/tieubanner4.png" alt="Image">
                                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-light py-2 px-3">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-prev-icon mb-n2"></span>
                                </div>
                            </a>
                            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-next-icon mb-n2"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar End --> *@
            <!-- Featured Start -->
            @* <div class="container-fluid pt-5">
                <div class="row px-xl-5 pb-3">
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                            <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                        </div>
                    </div>
                </div>
            </div> *@
            <!-- Featured End -->
            <div class="container-fluid pt-5">
                @RenderBody()
            </div>
            <!-- Categories Start -->

            <div class="container-fluid py-5">
                <div class="row px-xl-5">
                    <div class="col">
                        <div class="owl-carousel vendor-carousel">
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-1.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-2.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-3.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-4.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-5.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-6.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-7.jpg" alt="">
                            </div>
                            <div class="vendor-item border p-4">
                                <img src="~/img/vendor-8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vendor End -->
            <!-- Footer Start -->
            <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
                <div class="row px-xl-5 pt-5">
                    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                        <a asp-action="Index" asp-controller="Home" class="text-decoration-none">
                            <a href="#"><img class="logo" src="~/img/fptBookLogo.png" style="width: 50%;"></a>
                        </a>
                        <p>Hãy để tâm hồn của bạn được thư thái trong nhưng cuốn sách của chúng tôi.</p>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>394 Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>hiepdepzai2k3@gmail.com</p>
                        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+0339 414 711</p>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-md-4 mb-5">
                                <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                                <div class="d-flex flex-column justify-content-start">
                                    <a class="text-dark mb-2" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-angle-right mr-2"></i>Home</a>
                                    <a class="text-dark mb-2" asp-action="All_Pro" asp-controller="Shop" asp-area="Customer"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                    <a class="text-dark mb-2" asp-action="MyCart" asp-controller="Cart" asp-area="Customer"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                    <a class="text-dark mb-2" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                                    <a class="text-dark" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5">
                                <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                                <div class="d-flex flex-column justify-content-start">
                                    <a class="text-dark mb-2" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-angle-right mr-2"></i>Home</a>
                                    <a class="text-dark mb-2" asp-action="All_Pro" asp-controller="Shop" asp-area="Customer"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                    <a class="text-dark mb-2" asp-action="MyCart" asp-controller="Cart" asp-area="Customer"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                    <a class="text-dark mb-2" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                                    <a class="text-dark" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5">
                                <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                               required="required" />
                                    </div>
                                    <div>
                                        <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-light mx-xl-5 py-4">
                    <div class="col-md-6 px-xl-0">
                        <p class="mb-md-0 text-center text-md-left text-dark">
                            &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                            by
                            <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                        </p>
                    </div>
                    <div class="col-md-6 px-xl-0 text-center text-md-right">
                        <img class="img-fluid" src="~/img/payments.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            <!-- Back to Top -->
            <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
            @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home"
    asp-action="Index">SD85_WebBookOnline.Client</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home"
    asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    <ul class="navbar-nav flex-grow-1" style="flex-direction:row-reverse">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home"
    asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
    </li>
    </ul>
    </div>
    <div></div>
    </nav>*@
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="~/lib/easing/easing.min.js"></script>
            <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="~/mail/jqBootstrapValidation.min.js"></script>
            <script src="~/mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="~/js/main.js"></script>
            
        }
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
