@using SD85_WebBookOnline.Share.Models
@{
    var myCart = ViewBag.myCartItems;
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal subtotal;
    @if (ViewBag.Subtotal == null)
    {
        subtotal = 0;
    }else
    {
        subtotal = ViewBag.Subtotal;
    }
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if (myCart == null)
                    {
                        <tr></tr>
                    }
                    else if (myCart != null)
                    {
                        @foreach (CartItems item in myCart)
                        {
                            <tr>
                                <td class="align-middle"><img src="~/photoBooks/@item.Image" alt="" style="width: 50px;"> @item.ItemName</td>
                                <td class="align-middle price">$@item.Price</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            @if (item.ComboID != null)
                                            {
                                                <a asp-action="MinusCartItem" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.ComboID" class="btn btn-sm btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="MinusCartItem" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.BookID" class="btn btn-sm btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                            }
                                            
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center quantity" value="@item.Quantity">
                                        <div class="input-group-btn">
                                            @if (item.ComboID != null)
                                            {
                                                <a asp-action="PlusCartItem" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.ComboID" class="btn btn-sm btn-primary btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="PlusCartItem" asp-controller="Cart" asp-area="Customer" asp-route-id="@item.BookID" class="btn btn-sm btn-primary btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle itemTotal">$@item.ToTal</td>
                                <td class="align-middle">
                                    @if (item.ComboID != null)
                                    {
                                        <a asp-controller="Cart" asp-action="DeleteToCart" asp-route-id="@item.ComboID">
                                            <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Cart" asp-action="DeleteToCart" asp-route-id="@item.BookID">
                                            <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                                        </a>
                                    }
                                   
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-5" action="">
                <div class="input-group">
                    <input id="myInput" type="text" class="form-control p-4" placeholder="Voucher Code" name="Voucher_code">
                    <div class="input-group-append">
                        <button onclick="pasteText()" type="button" class="btn btn-primary">
                            Apply Voucher
                        </button>
                        <a class="btn btn-info" asp-area="Customer" asp-controller="Cart" asp-action="GetVoucherByCondition" asp-route-subtotal="@subtotal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium subtotal">$@subtotal</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold finalTotal">$@(subtotal)</h5>
                    </div>
                    @if (subtotal == 0)
                    {

                    }
                    else
                    {
                        <a id="checkoutLink" asp-action="Checkout" asp-controller="Cart" asp-area="Customer" asp-route-Voucher_code="" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
       //sử dụng API Clipboard
    async function pasteText() {
                try {
                    // Đọc dữ liệu từ clipboard
                    const pastedText = await navigator.clipboard.readText();
                    const checkoutLink = document.getElementById("checkoutLink");
                    checkoutLink.href = `/Customer/Cart/Checkout?Voucher_code=${encodeURIComponent(pastedText)}`;
                    // Đặt dữ liệu vào ô input
                    document.getElementById("myInput").value = pastedText;
                } catch (error) {
                    console.error('Lỗi khi đọc dữ liệu từ clipboard: ', error);
                }
            }

</script>

