@model IEnumerable<SD85_WebBookOnline.Share.Models.User>
@{
    ViewData["Title"] = "GetAllUser";
}

<h1>GetAllUser</h1>

<table id="tble_ajax" class="table" enctype="multipart/form-data">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Country
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var items in Model)
        {
            <tr>
                <td>
                    @if (items.Avatar == null)
                    {
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfHKr4J28Bd2GLN_c-P4FtX99NIFVS6rTurA&usqp=CAU" class="rounded-circle" style="width : 70px; height:70px;object-fit: cover" alt="Error Image">
                    }else
                    {
                        <img src="~/images/@items.Avatar" class="rounded-circle" style="width : 70px; height:70px;object-fit: cover" alt="Error Image">
                    }
                </td>
                <td>
                    @items.UserName
                </td>
                <td>
                    @items.Email
                </td>
                <td>
                    @items.PhoneNumber
                </td>
                <td>
                    @items.Country
                </td>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-id="@items.Id" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>  Details
                    </a>
                    <a asp-controller="User" asp-action="Update" asp-route-id="@items.Id" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                        </svg>  Update
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Link datatable*@
<link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Khởi tạo DataTable
            var dataTable = $('#tble_ajax').DataTable();
        });
    </script>
}

