@using SD85_WebBookOnline.Share.Models
@model IEnumerable<SD85_WebBookOnline.Share.Models.BookDetail>

@{
    ViewData["Title"] = "AllBookDetailManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Book> lstBook = ViewBag.lstBook as IEnumerable<Book>;
    IEnumerable<Category> lstCategory = ViewBag.lstCategory as IEnumerable<Category>;
    IEnumerable<Author> lstAuthor = ViewBag.lstAuthor as IEnumerable<Author>;
    IEnumerable<Languge> lstLanguge = ViewBag.lstLanguge as IEnumerable<Languge>;
    IEnumerable<BookDetail> lstBookDetail = ViewBag.lstBookDetail as IEnumerable<BookDetail>;
}

<h1>AllBookDetailManager</h1>

<p>
    <a asp-action="CreateBookDetail" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tb_bookdetail">
    <thead>
        <tr>
            
            <th>
                STT
            </th>
            <th style="text-align : center;">
                        Tên Sách
                    </th>

                    <th style="text-align : center;">
                        Thể Loại
                    </th>
                    <th style="text-align : center;">
                        Tác Giả
                    </th>
                    <th style="text-align : center;">
                        Ngôn ngữ
                    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
@foreach (var item in lstBookDetail) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @lstBook.FirstOrDefault(c=>c.BookID == item.BookID).BookName
            </td>
            <td>
                @lstCategory.FirstOrDefault(c=>c.CategoryID == item.CategoriesID).Name
            </td>
            <td>
                @lstAuthor.FirstOrDefault(c=>c.AuthorID == item.AuthorID).AuthorName
            </td>
            <td>
                @lstLanguge.FirstOrDefault(c=>c.LangugeID == item.LagugeID).Name
            </td>
            <td>
                    <a asp-action="UpdateBookDetail" asp-route-id="@item.BookDetailID" class="btn status delivered">Update</a>
                    <a asp-action="BookDetailDetail" asp-route-id="@item.BookDetailID" class="btn status tamkhoa"> Details</a>
            </td>
        </tr>
            i++;
}
    </tbody>
</table>
@*Link datatable*@
<link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        // Khởi tạo DataTable
        var dataTable = $('#tb_bookdetail').DataTable();
    });
