@using SD85_WebBookOnline.Share.Models
@model IEnumerable<SD85_WebBookOnline.Share.Models.Rating>

@{
    ViewData["Title"] = "Book_AllRating";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<User> ListUser = ViewBag.ListUser as IEnumerable<User>;
    IEnumerable<Rating> lstRatingok = ViewBag.lstRatingok as IEnumerable<Rating>;
    
}

<h1>Dánh Giá</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="/js/Rating.js"></script>
<table class="table">
    <thead>
        <tr>
            <th style="text-align : center;">
                Tên người dùng
            </th>
            <th style="text-align : center;">
                Comment
            </th>
            <th style="text-align : center;">
                đánh giá
            </th>

            <th style="text-align : center;">
                Ngày đánh giá
            </th>
            <th style="text-align : center;">
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstRatingok)
        {
        <tr>
            <td>
             @*@(ListUser.FirstOrDefault(c => c.Id == item.IdNguoiDung).UserName)*@
             @(item.IdNguoiDung != null
                        ? ListUser.FirstOrDefault(c => c.Id == item.IdNguoiDung)?.UserName : "")
            </td>
            <td>
                @item.Comment
            </td>
                <td>
                    @item.Stars
                </td>
                <td>
                    @item.RatingDate
                </td>
                <td>
                    @item.Status
                </td>
            <td>
                <br>

                    <button id="btn_xoa" data-id="@item.ID" class="btn btn-primary">xóa</button>

                    @*<button class="btn btn-primary" data-id="@item.ID" id="btn_chitiet"> Xem Chi tiết</button>
                    <button class="btn btn-primary" data-id="@item.ID" id="btn_xoa"> Xóa</button>*@
            </td>
        </tr>
}
    </tbody>
</table>

