
@using SD85_WebBookOnline.Share.Models
@model IEnumerable<SD85_WebBookOnline.Share.Models.Images>
 
@{
    ViewData["Title"] = "AllImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
     IEnumerable<Book> lstBook = ViewBag.lstBook as IEnumerable<Book>;
}

<h1>Chi tiết sản phẩm - Ảnh</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/js/sc_allIMages.js"></script>
<p>
     <button type="button" class="btn btn-primary" id="themmoi">
  Thêm
</button> 
</p>
<table class="table" id="tb-imgae">
    <thead>
        <tr>
            <th>
             STT
            </th> 
            <th>
             Book Name
            </th>            
            <th>
                Image Name
            </th>
            <th>
                Status
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
        }
        @foreach (var item in Model) {
        <tr>
            <td>
               @stt
            </td> <td>
               @lstBook.FirstOrDefault(c=>c.BookID==item.BookID).BookName
            </td>
            
            <td>
               @item.ImageName
            </td>
            <td>
               @item.Status
            </td>
             <td style="text-align : center; margin-bottom : 20px">
                
<button type="button" class="btn btn-primary" id="xemchitiet" data-id="@item.ImagesID">
  chitiet
</button>
<button type="button" class="btn btn-primary" id="xoa" data-id="@item.ImagesID">
  Xóa
</button>

             </td>
        </tr>
        stt++;
}
    </tbody>
</table>




<div class="modal fade" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
            
            <input type="text" style="display:none" id="btn_imgID">
          </div>
          <div class="mb-3">
            <label for="cb_bookname" class="form-label">Book Name</label>
           
             <select id="cb_bookname" class="form-select" aria-label="Default select example">
                                
                  @foreach (var item in lstBook)
                    {
                
                <option value="@item.BookID">@item.BookName</option>
                    }
            </select>
                    
            
           
          </div>
          <div class="mb-3">
            <label for="btn_imgname" class="form-label">Image Name</label>
            <input type="text" class="form-control" id="btn_imgname" value="">
          </div>
          <div class="mb-3">
            <label for="btn_stt" class="form-label">Status</label>
            <input type="text" class="form-control" id="btn_stt" value="">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn-them">Save changes</button>
      </div>
    </div>
  </div>
</div>
